<section
  id="formacion"
  class="py-24"
>
  <div class="max-w-5xl mx-auto px-6">
    
    <h2
      class="text-4xl font-bold text-center mb-16"
    >
      Formación Académica
    </h2>

    <div class="space-y-8">

      <!-- Universidad -->
      <div
        class="card-gold p-8"
      >
        <h3 class="text-2xl font-semibold">
          Ingeniería de Sistemas e Informática
        </h3>

        <p class="text-yellow-400 mt-2">
          Universidad Tecnológica del Perú
        </p>

        <p class="text-zinc-400 mt-3">
          2020 — 2025
        </p>
      </div>

      <!-- Inglés -->
      <div
        class="card-gold p-8"
      >
        <h3 class="text-2xl font-semibold">
          Inglés Americano Avanzado
        </h3>

        <p class="text-yellow-400 mt-2">
          ICPNA Piura
        </p>

        <p class="text-zinc-400 mt-3">
          2017 — 2020
        </p>
      </div>

    </div>

    <div class="mt-12 text-center">
      <a
        href="https://drive.google.com/drive/folders/1Xo9uXl15c3TqSs2tQ-dYCuW_tFK2l2wx"
        target="_blank"
        class="inline-flex items-center px-6 py-3 rounded-xl bg-yellow-400 text-black font-semibold hover:scale-105 transition-transform"
      >
        Ver títulos y certificados
      </a>
    </div>

  </div>
</section>