<section
  id="tecnologias"
  class="py-24"
>
  <div class="max-w-7xl mx-auto px-6">
    <h2
      class="text-4xl font-bold text-center mb-16"
    >
      Tecnologías con las que trabajo
    </h2>

    <div class="grid md:grid-cols-2 gap-8">
      
      <!-- Frontend -->
     <div class="card-gold p-8">

  <h3 class="mb-6 text-2xl font-semibold text-white">
    Frontend & Mobile
  </h3>

  <div class="flex flex-wrap items-center gap-6">

    <img
      src="/assets/react.png"
      alt="React"
      class="h-14 w-14 object-contain transition duration-300 hover:scale-110"
    />

    <img
      src="/assets/angular.png"
      alt="Angular"
      class="h-14 w-14 object-contain transition duration-300 hover:scale-110"
    />

    <img
      src="/assets/kotlin.png"
      alt="Kotlin"
      class="h-14 w-14 object-contain transition duration-300 hover:scale-110"
    />

  </div>

</div>

      <!-- Backend -->
     <div class="card-gold p-8">
  
  <h3 class="mb-6 text-2xl font-semibold text-white">
    Backend
  </h3>

  <div class="flex flex-wrap items-center gap-6">

    <img
      src="/assets/c_sharp.png"
      alt="C#"
      class="h-14 w-14 object-contain transition duration-300 hover:scale-110"
    />

    <img
      src="/assets/java.png"
      alt="Java"
      class="h-14 w-14 object-contain transition duration-300 hover:scale-110"
    />

    <img
      src="/assets/laravel.png"
      alt="Laravel"
      class="h-14 w-14 object-contain transition duration-300 hover:scale-110"
    />

    <img
      src="/assets/python.png"
      alt="Python"
      class="h-14 w-14 object-contain transition duration-300 hover:scale-110"
    />

    <img
      src="/assets/node.png"
      alt="Node.js"
      class="h-14 w-14 object-contain transition duration-300 hover:scale-110"
    />

  </div>

</div>

    </div>
  </div>
</section>